<div class="row">
    <div class="col-10">
        <h2>A quel point vous sentez-vous stressé(e) ?</h2>

        <small> 0 : Pas du tout, 10 : Extrêmement</small>
        <br>
        <mat-slider class="w-50" min="1" max="10" step="1" [(ngModel)]="val1"></mat-slider>
    </div>
    <div class="col-2" style="direction: rtl;">
        <div style="direction: ltr;">
            <a (click)="openPleaseCallMe()" style="padding:5px;">
                <button mat-raised-button color="accent">
                    <i class="mdi mdi-plus"></i> Rapellez-moi
                </button>
            </a>
        </div>
    </div>
</div>