<div class="row">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/9cUEv4C3114" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <div class="col-2" style="direction: rtl;">
        <div style="direction: ltr;">
            <a routerLink="../end" style="padding:5px;">
                <button mat-raised-button color="primary">
                    <i class="mdi mdi-skip-next-circle-outline"></i> Suivant
                </button>
            </a>
        </div>
    </div>
</div>